<mat-form-field>
<input matInput [(ngModel)]= pysakkiNimi placeholder="Stop name">
</mat-form-field>
<button mat-raised-button color="warn" (click)=ngOnInit()>Hae pysäkki</button>
<article *ngFor="let stop of tulos">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
    <h2>
        {{ stop.name }} {{ stop.code }}
    </h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
<div fxLayOut="row">
  <div fxFlex>
<agm-map [latitude]="stop.lat" [longitude]="stop.lon" [zoom]="15">
    <agm-marker [latitude]="stop.lat" [longitude]="stop.lon"></agm-marker>
</agm-map>
  </div>
    <div fxFlex>
    <mat-list>
    <mat-list-item *ngFor="let pysakki of stop.patterns">
        name: {{ pysakki.name }},
        shortname: {{ pysakki.route.shortName }},
       <!-- longname:  -->
        <span [class]="pysakki.directionId | piippu"><mat-icon> {{ pysakki.directionId | routeDirection}} </mat-icon></span> {{ pysakki.route.longName }}
       <!-- lat: {{ lat }}<br>
        lon: {{ lon }} <br> -->
    </mat-list-item>
</mat-list>
    </div>
</div>
    </mat-expansion-panel>
</article>