/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*
body {
  font-family: Verdana;
}

ul {
  display: flex;
  background: #bfca99;
  border: 1px solid black;
}
li {
  list-style-type: none;
  padding: 5px;
  font-family: Verdana;
}
input {
  padding: 4px;
}
*/